@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #b2becd;
  padding: 0px 1px 1px;
  position: relative;
}
html {
  cursor: url("/cursor.svg"), auto !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::-webkit-scrollbar {
  width: 0px;
  background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  background-color: #202f42;
}

.manager_inventory_product_stock {
  grid-template-columns: repeat(auto-fit, minmax(200px, 350px));
  justify-content: center;
}

.can_you_please_hide {
  @apply hidden;
}

.scroll_indicator {
  z-index: 1000;
  position: fixed;
  top: 0px;
  transform-origin: left;
  width: 100%;
  height: 5px;
  background-color: #b2becd;
  scale: 0 1;
  animation: scrolling-div linear;
  animation-timeline: scroll();
  border-bottom-right-radius: 100%;
}

@keyframes scrolling-div {
  to {
    scale: 1 1;
  }
}
