@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #b2becd;
  padding: 0px 1px 1px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::-webkit-scrollbar {
  width: 5px;
  background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  background-color: #202f42;
}
