@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #b2becd;
  padding: 0px 1px 1px;
}
html {
  cursor: url("cursor.svg"), auto;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::-webkit-scrollbar {
  width: 0px;
  background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  background-color: #202f42;
}
